carousel {
    width: 100%;
    text-align: center;
    font-family: Trebuchet MS;
    display: block;
    font-size: 6vmin;
  
    page {
      position: absolute;
      top: 2em;
      left: 0;
      width: 100%;
      transition: transform 0.5s;
      transform: scale(0);
      div {
        padding: 3em;
        width:20rem;
      }
      label {
        cursor: pointer;
        background: #d9ff4f;
        padding: 1em 2em;
      }
    }
    @for $i from 1 through 5 {
      #page#{$i}cb:checked ~ {
        #page#{$i} {
          transform: scale(1);
        }
      }
    }
  }
  